gps-simulator--mqtt-ibm-iot--websocket.json
[{"id":"32162b10.d22064","type":"mqtt out","z":"4d59195b.75ff68","name":"Publish to IoT","topic":"iot-2/evt/event_name/fmt/json","qos":"","retain":"","broker":"33134f57.05c1","x":638,"y":236,"wires":[]},{"id":"1d1f80c1.8d7c1f","type":"inject","z":"4d59195b.75ff68","name":"Send data","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":200,"y":213,"wires":[["abcba57e.362ea8"]]},{"id":"abcba57e.362ea8","type":"function","z":"4d59195b.75ff68","name":"Device payload","func":"var name1 = \"My Device\";\nvar type1 = \"GPS\";\nvar longitude1 = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar latitude1 = [29.42,30.26,32.77,36.37,38.62,39.09,41.87,43.03,44.97,41.25];\nvar velocity1 = context.get('velocity1')||0;\n\n\n\nvelocity1 = velocity1+1;\nif(velocity1 > 20) velocity1=0;\ncontext.set('velocity1',velocity1);\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n \tpayload: JSON.stringify(\n \t { d:{\n \"name\" : name1,\n \"location\" : \n {\n \"longitude\" : longitude1[counter1],\n \t \"latitude\" : latitude1[counter1]\n },\n \"velocity\" : velocity1,\n \t \"type\" : type1\n \t }\n \t }\n )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":211,"wires":[["28cd8529.ab973a","29d38f5d.24a13"]]},{"id":"28cd8529.ab973a","type":"debug","z":"4d59195b.75ff68","name":"","active":true,"console":"false","complete":"payload","x":582,"y":152,"wires":[]},{"id":"22f3dded.541692","type":"debug","z":"4d59195b.75ff68","name":"","active":true,"console":"false","complete":"false","x":603,"y":610,"wires":[]},{"id":"5b033a2d.20efe4","type":"ibmiot in","z":"4d59195b.75ff68","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"LivingRoomThermo22","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":174,"y":566,"wires":[["653519ae.718ce8","c1876ab4.7769a8"]]},{"id":"29d38f5d.24a13","type":"ibmiot out","z":"4d59195b.75ff68","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo22","deviceType":"0.15.1","eventCommandType":"update","format":"json","data":"temp:10","qos":0,"name":"IBM IoT","service":"quickstart","x":609,"y":319,"wires":[]},{"id":"653519ae.718ce8","type":"function","z":"4d59195b.75ff68","name":"longitude","func":"msg.payload = msg.payload.d.location.longitude;\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":538,"wires":[["22f3dded.541692","1bb62dd4.9d51f2"]]},{"id":"c1876ab4.7769a8","type":"function","z":"4d59195b.75ff68","name":"latitude","func":"msg.payload = msg.payload.d.location.latitude;\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":599,"wires":[["22f3dded.541692","1bb62dd4.9d51f2"]]},{"id":"1bb62dd4.9d51f2","type":"websocket out","z":"4d59195b.75ff68","name":"","server":"d83d7d34.6e254","client":"","x":613,"y":518,"wires":[]},{"id":"1c5a965f.6eaa8a","type":"http response","z":"4d59195b.75ff68","name":"","x":559,"y":734,"wires":[]},{"id":"3ba06787.9638b8","type":"http in","z":"4d59195b.75ff68","name":"","url":"/iotfeedback","method":"get","swaggerDoc":"","x":200,"y":734,"wires":[["3b594daf.4d1862"]]},{"id":"3b594daf.4d1862","type":"template","z":"4d59195b.75ff68","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <title>Simple Display</title>\n        <link rel=\"stylesheet\" href=\"themes/jquery.mobile.icons.min.css\" />\n\t\t<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n        <script src=\"http://code.jquery.com/jquery-1.11.1.min.js\"></script>\n        <script src=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n\t\t<link rel=\"stylesheet\" href=\"themes/pete.min.css\" />\n\t\t\n    </head>\n    <script type=\"text/javascript\">\n        var topics = {};\n        var wsUriC = \"ws://\" + window.location.host + \"/ws/iottest\";\n\t\tvar ws;\n\t\t\n\t\tvar light0='<img src=\"icons/light0.png\" alt=\"someimage\"  />';\n\t\tvar light1='<img src=\"icons/light1.png\" alt=\"someimage\"  />';\n\t\t\n\t\tfunction gIcon(imName)\n\t\t{\n\t\t\treturn '<img style=\"width:32px; height:32px; vertical-align:middle\" src=\"icons/'+imName+'.png\">'\n\t\t}\n\t\t\n        function wsConnectC() {\n            console.log(\"connect\",wsUriC);\n            ws = new WebSocket(wsUriC);\n            ws.onmessage = function(msg) {\n                var line = \"\";\n                console.log(msg.data);\n\t\t\t\tvar fromPage=JSON.parse(msg.data);\n\t\t\t\t\n\t\t\t\t//console.log(msg.data);\n\t\t\t\t\n\t\t\t\t\n                if (fromPage.my_input!=null) { \n\t\t\t\t\tif (fromPage.my_input!=\"\") \n\t\t\t\t\t\t$(\"#info1\").html(fromPage.my_input); \n\t\t\t\t\telse \n\t\t\t\t\t\t$(\"#info1\").html(\"Nothing entered\");  \n\t\t\t\t}         \t\t\t\n\t\t\t\tif (fromPage.my_slider!=null) $(\"#info2\").html(fromPage.my_slider+\"c\");\n                if (fromPage.my_switch!=null) $(\"#info3\").html(fromPage.my_switch);\n\t\t\t\tif (fromPage.my_slider!=null) $(\"#my_slider\").val(fromPage.my_slider).slider(\"refresh\");\n                if (fromPage.my_switch!=null) $(\"#my_switch\").val(fromPage.my_switch).flipswitch(\"refresh\");\t\t\t\t\n\t\t\t\tif (fromPage.my_switch!=null) { \n\t\t\t\t\tif (fromPage.my_switch==\"on\") \n\t\t\t\t\t\t$(\"#image_holder\").html(gIcon(\"light1\")); \n\t\t\t\t\telse \n\t\t\t\t\t\t$(\"#image_holder\").html(gIcon(\"light0\")); }\n            }\n            ws.onopen = function() {\n                $(\"#status\").html(\"connected\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                $(\"#status\").html(\"not connected\");\n                setTimeout(wsConnectC,1000);\n            }\n        }\n\t\t\n\tfunction sendMessage(){\n\t// send message back to page\n\tvar toPage='{\"my_input\":\"'+$(\"#my_input\").val()+'\",\"my_slider\":\"'+$(\"#my_slider\").val()+'\",\"my_switch\":\"'+$(\"#my_switch\").val()+'\"}';\n    ws.send(toPage);\n  } // end sendMessage\n  \n  \n    </script>\n\t\n\t<body onload=\"wsConnectC();\" onunload=\"ws.disconnect;\">\n\t\t<div data-role=\"page\" id=\"one\" data-theme=\"a\">\n\t\t\t<div data-role=\"header\" data-position=\"inline\">\n\t\t\t\t<h2>Websockets Test Page</h2>\n\t\t\t</div>\n\t\t\t<div data-role=\"content\" data-theme=\"a\">\n\t\t\t\t<h2>Temperature Display</h2>\n\t\t\t\t<div id=\"status\">status unknown</div>\t\n\t\t\t\t<input id=\"my_input\" placeholder=\"Type something\"/>\t\t\t\n\t\t\t\t<div id=\"info1\">!Empty!</div>\n\t\t\t\t<hr/>\n\t\t\t\t<div data-role=\"collapsible\">\n\t\t\t\t<h4>Hello</h4>\n\t\t\t\twerlkj werlkjw erlkwje rwlekjr wer jkl\n\t\t\t\t</div>\n\t\t\t\t<div id=\"info2\">0</div>\n\t\t\t\t<hr/>\n\t\t\t\t<div id=\"info3\">0</div>\n\t\t\t\t<hr/>\n\t\t\t\t<label for=\"my_slider\">Input slider:</label>\n\t\t\t\t<input type=\"range\" id=\"my_slider\" value=\"60\" min=\"0\" max=\"100\" data-theme=\"a\"  onMouseRelease=\"sendMessage()\"/>\t\n\t\t\t\t<select name=\"my_switch\" id=\"my_switch\" data-role=\"flipswitch\" onchange=\"sendMessage()\" data-theme=\"a\">\n\t\t\t\t\t<option value=\"off\">Off</option>\n\t\t\t\t\t<option value=\"on\">On</option>\n\t\t\t\t</select> <span id=\"image_holder\"></span><br/>\n\t\t\t\t<input type=\"button\" data-inline=\"true\"  value=\"Update the lot\" onClick=\"sendMessage()\" />\n\n\t\t\t\t<input type=\"button\" data-inline=\"true\" value=\"Single Msg test\" onClick='ws.send(\"{\\\"my_input\\\":\\\"Just this\\\"}\")' />\n\t\t\t\t<a href=\"#two\">Get page 2</a>\n\t\t\t</div>\n\t\t</div>\t\t\n\t\t\n\t\t\t<div data-role=\"page\" id=\"two\" data-theme=\"a\">\n\t\t\tHello there\n\t\t\t</div>\n    </body>\n</html>","x":395,"y":734,"wires":[["1c5a965f.6eaa8a"]]},{"id":"5acbdd31.03e824","type":"websocket out","z":"4d59195b.75ff68","name":"","server":"d83d7d34.6e254","client":"","x":626,"y":395,"wires":[]},{"id":"33134f57.05c1","type":"mqtt-broker","z":"4d59195b.75ff68","broker":"tfhqlq.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:tfhqlq:Sensor:Device1","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"d83d7d34.6e254","type":"websocket-listener","z":"","path":"/ws/iottest","wholemsg":"false"}]