ifttt-maker-email-channels.json
[{"id":"15e4a17e.4c481f","type":"http in","z":"da167efa.0cb77","name":"","url":"/ifttt","method":"post","swaggerDoc":"","x":175,"y":172,"wires":[["a82a07c6.555af8"]]},{"id":"a82a07c6.555af8","type":"function","z":"da167efa.0cb77","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":248,"wires":[["a337266b.444358","b058e74d.bd1598","b8e2c4e.4813038"]]},{"id":"a337266b.444358","type":"debug","z":"da167efa.0cb77","name":"","active":true,"console":"false","complete":"payload","x":524,"y":270,"wires":[]},{"id":"b058e74d.bd1598","type":"http response","z":"da167efa.0cb77","name":"","x":502,"y":218,"wires":[]},{"id":"b8e2c4e.4813038","type":"http request","z":"da167efa.0cb77","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/nodered/with/key/jYtdpKlQSzgcDKjbJfqx91rJomzTa_TptkJDguAiZPY","tls":"","x":374,"y":346,"wires":[["e5517d92.25eb5"]]},{"id":"e5517d92.25eb5","type":"debug","z":"da167efa.0cb77","name":"","active":true,"console":"false","complete":"payload","x":500,"y":418,"wires":[]}]