insert-find-in-mogodb.json
[{"id":"5df40cf0.23c5c4","type":"http in","z":"73acf955.70e828","name":"","url":"/mongodb-insert","method":"post","swaggerDoc":"","x":293,"y":260,"wires":[["2bbfc9ad.d20d86"]]},{"id":"2bbfc9ad.d20d86","type":"function","z":"73acf955.70e828","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":322,"wires":[["44d2ecef.d12fe4","981050fe.d5bab","57c6d3fe.99533c"]]},{"id":"44d2ecef.d12fe4","type":"debug","z":"73acf955.70e828","name":"","active":true,"console":"false","complete":"false","x":628,"y":391,"wires":[]},{"id":"981050fe.d5bab","type":"http response","z":"73acf955.70e828","name":"","x":626,"y":321,"wires":[]},{"id":"57c6d3fe.99533c","type":"mongodb out","z":"73acf955.70e828","mongodb":"d36d13d7.e0ede","name":"insert userdetails in mongodb","collection":"userdetails","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":650,"y":464,"wires":[]},{"id":"4e62d04a.d5d3a","type":"mongodb in","z":"73acf955.70e828","mongodb":"d36d13d7.e0ede","name":"find female","collection":"userdetails","operation":"find","x":581,"y":723,"wires":[["141035ff.56ba2a","2c8c171c.8846a8"]]},{"id":"14eb7fc8.ae3cb","type":"comment","z":"73acf955.70e828","name":"insert in userdetails collection","info":"{\n    first: 'arnold',\n    last: 'schwarzenegger',\n    dob: '03/06/1925',\n    gender: 'm',\n    hair_colour: 'brown',\n    occupation: 'actor',\n    nationality: 'american'\n}","x":304.5,"y":224,"wires":[]},{"id":"e9860642.41b838","type":"http in","z":"73acf955.70e828","name":"","url":"/mongodb-find","method":"post","swaggerDoc":"","x":296,"y":592,"wires":[["b28e7442.483eb8"]]},{"id":"b28e7442.483eb8","type":"function","z":"73acf955.70e828","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":653,"wires":[["4e62d04a.d5d3a","59a13de7.7298f4"]]},{"id":"59a13de7.7298f4","type":"debug","z":"73acf955.70e828","name":"","active":true,"console":"false","complete":"false","x":627,"y":653,"wires":[]},{"id":"6d62f45b.bf86fc","type":"comment","z":"73acf955.70e828","name":"find in userdetails collection","info":"{\n  \"gender\": \"f\"\n}","x":296,"y":552,"wires":[]},{"id":"d714508a.7386b","type":"switch","z":"73acf955.70e828","name":"","property":"payload.body.nationality","propertyType":"msg","rules":[{"t":"eq","v":"american","vt":"str"},{"t":"eq","v":"english","vt":"str"}],"checkall":"true","outputs":2,"x":713,"y":842,"wires":[["70e9a88d.294718"],["68ad79dc.b3c8f8"]]},{"id":"68ad79dc.b3c8f8","type":"debug","z":"73acf955.70e828","name":"","active":true,"console":"false","complete":"false","x":913,"y":879,"wires":[]},{"id":"70e9a88d.294718","type":"debug","z":"73acf955.70e828","name":"","active":true,"console":"false","complete":"false","x":923,"y":828,"wires":[]},{"id":"141035ff.56ba2a","type":"json","z":"73acf955.70e828","name":"","x":661,"y":783,"wires":[["d714508a.7386b"]]},{"id":"2c8c171c.8846a8","type":"debug","z":"73acf955.70e828","name":"","active":true,"console":"false","complete":"false","x":792,"y":722,"wires":[]},{"id":"d36d13d7.e0ede","type":"mongodb","z":"73acf955.70e828","hostname":"ds013290.mlab.com","port":"13290","db":"node-red-test","name":""}]