watson-translator.json
[{"id":"295c9aaa.b6fdb6","type":"http in","z":"312a9fe3.0c9b3","name":"","url":"/translate","method":"post","swaggerDoc":"","x":200,"y":266,"wires":[["3a695201.bf705e"]]},{"id":"5e33a3cc.76682c","type":"watson-translate","z":"312a9fe3.0c9b3","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"udT15XTbhUAR","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","x":563,"y":266,"wires":[["5454f4fd.1ce6bc"]]},{"id":"3a695201.bf705e","type":"function","z":"312a9fe3.0c9b3","name":"","func":"msg.payload = msg.req.body.text;\nmsg.target = msg.req.body.target;\nmsg.source = msg.req.body.source;\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":266,"wires":[["5e33a3cc.76682c"]]},{"id":"5454f4fd.1ce6bc","type":"http response","z":"312a9fe3.0c9b3","name":"","x":761,"y":267,"wires":[]}]