watson-text-speech.json
[{"id":"50a81513.c950ac","type":"watson-text-to-speech","z":"a9f49f6d.a2f05","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":1926,"y":254,"wires":[["5ab18403.cec2dc"]]},{"id":"9d49ff1a.06fa","type":"inject","z":"a9f49f6d.a2f05","name":"","topic":"","payload":"the monkey is in the tree","payloadType":"str","repeat":"","crontab":"","once":false,"x":1720.0909423828125,"y":156.72726440429688,"wires":[["50a81513.c950ac"]]},{"id":"6eea3245.329b3c","type":"websocket out","z":"a9f49f6d.a2f05","name":"","server":"28ad337e.a5743c","client":"","x":2169.0908203125,"y":416.7272644042969,"wires":[]},{"id":"76935636.7336c8","type":"http in","z":"a9f49f6d.a2f05","name":"","url":"/audio","method":"get","swaggerDoc":"","x":1745.818115234375,"y":622.3636474609375,"wires":[["c0176e5c.3fa04"]]},{"id":"61e12ebb.4a121","type":"http response","z":"a9f49f6d.a2f05","name":"","x":2088.36376953125,"y":622.6363525390625,"wires":[]},{"id":"c0176e5c.3fa04","type":"template","z":"a9f49f6d.a2f05","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":1930.818115234375,"y":622.3636474609375,"wires":[["61e12ebb.4a121"]]},{"id":"5ab18403.cec2dc","type":"function","z":"a9f49f6d.a2f05","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":2038.818115234375,"y":336.5454406738281,"wires":[["6eea3245.329b3c"]]},{"id":"28ad337e.a5743c","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"}]