watson-iot-gps-simulator.json
[{"id":"32162b10.d22064","type":"mqtt out","z":"4d59195b.75ff68","name":"Publish to IoT","topic":"iot-2/evt/event_name/fmt/json","qos":"","retain":"","broker":"33134f57.05c1","x":520,"y":389,"wires":[]},{"id":"1d1f80c1.8d7c1f","type":"inject","z":"4d59195b.75ff68","name":"Send data","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":132,"y":381,"wires":[["abcba57e.362ea8"]]},{"id":"abcba57e.362ea8","type":"function","z":"4d59195b.75ff68","name":"Device payload","func":"var name1 = \"My Device\";\nvar type1 = \"GPS\";\nvar longitude1 = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar latitude1 = [29.42,30.26,32.77,36.37,38.62,39.09,41.87,43.03,44.97,41.25];\nvar velocity1 = context.get('velocity1')||0;\n\n\n\nvelocity1 = velocity1+1;\nif(velocity1 > 20) velocity1=0;\ncontext.set('velocity1',velocity1);\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n \tpayload: JSON.stringify(\n \t { d:{\n \"name\" : name1,\n \"location\" : \n {\n \"longitude\" : longitude1[counter1],\n \t \"latitude\" : latitude1[counter1]\n },\n \"velocity\" : velocity1,\n \t \"type\" : type1\n \t }\n \t }\n )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":224,"wires":[["28cd8529.ab973a","32162b10.d22064"]]},{"id":"28cd8529.ab973a","type":"debug","z":"4d59195b.75ff68","name":"","active":true,"console":"false","complete":"false","x":290,"y":500,"wires":[]},{"id":"33134f57.05c1","type":"mqtt-broker","z":"4d59195b.75ff68","broker":"tfhqlq.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:tfhqlq:Sensor:Device1","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]