web-socket-and-html-widget.json
[{"id":"9ede8aee.149a08","type":"template","z":"13334750.10d369","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <title>Simple Display</title>\n        <link rel=\"stylesheet\" href=\"themes/jquery.mobile.icons.min.css\" />\n\t\t<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n        <script src=\"http://code.jquery.com/jquery-1.11.1.min.js\"></script>\n        <script src=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n\t\t<link rel=\"stylesheet\" href=\"themes/pete.min.css\" />\n\t\t\n    </head>\n    <script type=\"text/javascript\">\n        var topics = {};\n        var wsUriC = \"ws://\" + window.location.host + \"/ws/testing\";\n\t\tvar ws;\n\t\t\n\t\tvar light0='<img src=\"icons/light0.png\" alt=\"someimage\"  />';\n\t\tvar light1='<img src=\"icons/light1.png\" alt=\"someimage\"  />';\n\t\t\n\t\tfunction gIcon(imName)\n\t\t{\n\t\t\treturn '<img style=\"width:32px; height:32px; vertical-align:middle\" src=\"icons/'+imName+'.png\">'\n\t\t}\n\t\t\n        function wsConnectC() {\n            console.log(\"connect\",wsUriC);\n            ws = new WebSocket(wsUriC);\n            ws.onmessage = function(msg) {\n                var line = \"\";\n                console.log(msg.data);\n\t\t\t\tvar fromPage=JSON.parse(msg.data);\n                if (fromPage.my_input!=null) { \n\t\t\t\t\tif (fromPage.my_input!=\"\") \n\t\t\t\t\t\t$(\"#info1\").html(fromPage.my_input); \n\t\t\t\t\telse \n\t\t\t\t\t\t$(\"#info1\").html(\"Nothing entered\");  \n\t\t\t\t}         \t\t\t\n\t\t\t\tif (fromPage.my_slider!=null) $(\"#info2\").html(fromPage.my_slider+\"c\");\n                if (fromPage.my_switch!=null) $(\"#info3\").html(fromPage.my_switch);\n\t\t\t\tif (fromPage.my_slider!=null) $(\"#my_slider\").val(fromPage.my_slider).slider(\"refresh\");\n                if (fromPage.my_switch!=null) $(\"#my_switch\").val(fromPage.my_switch).flipswitch(\"refresh\");\t\t\t\t\n\t\t\t\tif (fromPage.my_switch!=null) { \n\t\t\t\t\tif (fromPage.my_switch==\"on\") \n\t\t\t\t\t\t$(\"#image_holder\").html(gIcon(\"light1\")); \n\t\t\t\t\telse \n\t\t\t\t\t\t$(\"#image_holder\").html(gIcon(\"light0\")); }\n            }\n            ws.onopen = function() {\n                $(\"#status\").html(\"connected\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                $(\"#status\").html(\"not connected\");\n                setTimeout(wsConnectC,1000);\n            }\n        }\n\t\t\n\tfunction sendMessage(){\n\t// send message back to page\n\tvar toPage='{\"my_input\":\"'+$(\"#my_input\").val()+'\",\"my_slider\":\"'+$(\"#my_slider\").val()+'\",\"my_switch\":\"'+$(\"#my_switch\").val()+'\"}';\n    ws.send(toPage);\n  } // end sendMessage\n  \n  \n    </script>\n\t\n\t<body onload=\"wsConnectC();\" onunload=\"ws.disconnect;\">\n\t\t<div data-role=\"page\" id=\"one\" data-theme=\"a\">\n\t\t\t<div data-role=\"header\" data-position=\"inline\">\n\t\t\t\t<h2>Websockets Test Page</h2>\n\t\t\t</div>\n\t\t\t<div data-role=\"content\" data-theme=\"a\">\n\t\t\t\t<h2>Temperature Display</h2>\n\t\t\t\t<div id=\"status\">status unknown</div>\t\n\t\t\t\t<input id=\"my_input\" placeholder=\"Type something\"/>\t\t\t\n\t\t\t\t<div id=\"info1\">!Empty!</div>\n\t\t\t\t<hr/>\n\t\t\t\t<div data-role=\"collapsible\">\n\t\t\t\t<h4>Hello</h4>\n\t\t\t\twerlkj werlkjw erlkwje rwlekjr wer jkl\n\t\t\t\t</div>\n\t\t\t\t<div id=\"info2\">0</div>\n\t\t\t\t<hr/>\n\t\t\t\t<div id=\"info3\">0</div>\n\t\t\t\t<hr/>\n\t\t\t\t<label for=\"my_slider\">Input slider:</label>\n\t\t\t\t<input type=\"range\" id=\"my_slider\" value=\"60\" min=\"0\" max=\"100\" data-theme=\"a\"  onMouseRelease=\"sendMessage()\"/>\t\n\t\t\t\t<select name=\"my_switch\" id=\"my_switch\" data-role=\"flipswitch\" onchange=\"sendMessage()\" data-theme=\"a\">\n\t\t\t\t\t<option value=\"off\">Off</option>\n\t\t\t\t\t<option value=\"on\">On</option>\n\t\t\t\t</select> <span id=\"image_holder\"></span><br/>\n\t\t\t\t<input type=\"button\" data-inline=\"true\"  value=\"Update the lot\" onClick=\"sendMessage()\" />\n\n\t\t\t\t<input type=\"button\" data-inline=\"true\" value=\"Single Msg test\" onClick='ws.send(\"{\\\"my_input\\\":\\\"Just this\\\"}\")' />\n\t\t\t\t<a href=\"#two\">Get page 2</a>\n\t\t\t</div>\n\t\t</div>\t\t\n\t\t\n\t\t\t<div data-role=\"page\" id=\"two\" data-theme=\"a\">\n\t\t\tHello there\n\t\t\t</div>\n    </body>\n</html>","x":564,"y":460,"wires":[["c5b388b8.e7f428"]]},{"id":"c5b388b8.e7f428","type":"http response","z":"13334750.10d369","name":"testing out","x":759,"y":459,"wires":[]},{"id":"28e4efdf.ba429","type":"http in","z":"13334750.10d369","name":"","url":"/testing","method":"get","swaggerDoc":"","x":375,"y":459,"wires":[["9ede8aee.149a08"]]},{"id":"8380e71d.f862e8","type":"websocket in","z":"13334750.10d369","name":"","server":"9dd6b03.1236b5","client":"","x":387,"y":275,"wires":[["c19d6013.8298e"]]},{"id":"99c71576.55be38","type":"websocket out","z":"13334750.10d369","name":"","server":"9dd6b03.1236b5","client":"","x":779,"y":275,"wires":[]},{"id":"c19d6013.8298e","type":"function","z":"13334750.10d369","name":"","func":"msg._session = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":581,"y":275,"wires":[["99c71576.55be38"]]},{"id":"9dd6b03.1236b5","type":"websocket-listener","z":"","path":"/ws/testing","wholemsg":"false"}]